.info-block {
  position: relative;
  display: grid;
  grid-template-columns: 360px auto;
  grid-gap: 30px;
  margin-bottom: 60px;

  &--wide {
    display: flex;
    flex-direction: column;
  }

  &__sidebar {
    position: sticky;
    top: 130px;
    height: fit-content;
    padding: 24px 32px;
    background-color: #f8f8f8;
    border: 1px solid var(--accent);

    &-title {
      display: inline-block;
      font-family: var(--alt-font-family);
      font-size: 25px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 50px;
      color: var(--accent);
    }
  }
}
