.breadcrumbs {
  margin: 40px 0;

  &__container {
    @extend .flex-wrap;
    align-items: center;
  }

  @include m-b-down(960px) {
    display: none;
  }

  a,
  span {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
  }

  a > span {
    position: relative;
    padding-right: 48px;
    color: var(--gray-2);

    @extend .hover-opacity;

    &::after {
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
      width: 24px;
      height: 1px;
      content: '';
      background-color: var(--gray-2);
    }
  }

  span {
    color: var(--accent);
  }
}
