.content-menu {
  &__list {
    @extend .list-reset;
    margin-bottom: 5px;
    padding-top: 5px;

    &:last-of-type {
      border-top: 1px solid rgba(31, 31, 31, 0.20);
    }

  }

  &__list-item {
    padding: 5px 0;

    a {
      display: flex;
      font-size: 18px;
      font-weight: 600;
      opacity: .5;
      text-transform: uppercase;
      @include text-truncate(2);
      color: var(--primary);
      @extend .hover-opacity;

      &.active {
        opacity: 1;
        color: var(--accent);
      }
    }
  }
}
