.inner-page-top {
  height: 100vh;
  max-height: 470px;
  background-color: var(--page-header-bg);
  margin-bottom: 60px;

  @include m-b-laptop-down {
    max-height: 360px;
  }

  @include m-b-down(960px) {
    margin-bottom: 30px;
  }

  @include m-b-tablet-down {
    max-height: 300px;
    margin-bottom: 20px;
  }

  @include m-b-mobile-lg-down {
    max-height: 240px;
  }

  .lw-container-fluid {
    position: relative;
    height: 100%
  }

  &__container {
    position: relative;

    display: grid;
    grid-template-columns: 600px auto;
    grid-gap: 20px;
    align-items: center;
    height: 100%;
    padding-right: 0;

    /* up/down desktop-lg(1920),desktop(1440),laptop(1140),tablet-lg(960),tablet(768),mobile-lg(534)*/
    @include m-b-down(1720px) {
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-color: rgba(0,0,0,.5);
      }
    }

    @include m-b-desktop-down {
      grid-template-columns: 480px auto;
    }

    @include m-b-down(1280px) {
      grid-template-columns: 1fr;
      grid-gap: 0;
      padding-right: 30px;
    }

    @include m-b-mobile-lg-down {
      padding-right: 20px;
    }

    img {
      height: 100%;
      margin-left: auto;
      margin-right: -100px;
      z-index: 0;
      object-position: left top;

      @include m-b-down(1720px) {
        margin-right: 0;
      }

      @include m-b-down(1280px) {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        width: 100vw;
      }
    }
  }
}
