.main-nav {
  display: none;

  &.initialized {
    display: flex;
  }

  &__opener,
  &__closer {
    @extend .btn-reset;
    @extend .flex-centered-content;
    display: none;
    cursor: pointer;
    width: 40px;
    height: 40px;

    margin-left: auto;
  }

  &__opener {
    svg {
      fill: var(--accent);
    }

    @include m-b-down(1280px) {
      display: flex;
    }
  }

  &__closer {
    svg {
      fill: var(--white);
    }
  }

  &__header {
    display: none;

    position: sticky;
    top: 0;

    @extend .flex-wrap;
    align-items: center;
    padding: 15px 30px;
    //min-height: 100px;
    border-bottom: 1px solid var(--danger);
    background-color: var(--accent);
    box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.14);

    z-index: 99;

    @include m-b-mobile-lg-down {
      //min-height: 90px;
      padding: 15px 20px;
    }
  }

  &__footer {
    display: none;
    flex-direction:column;
  }

  &__list {
    @include m-b-down(1280px) {
      display: none;
    }
  }

  &__inner-list-item {
    &--mobile-only {
      @include m-b-up(1280px) {
        display: none;
      }

      a {
        font-weight: 500;
        text-decoration: underline;
      }
    }
  }
}

.main-nav:not(.main-nav--mobile) {
  .main-nav {
    &__list {
      @extend .list-reset;
      @extend .flex-wrap;
      align-items: center;
      //height: 100%;
    }

    &__list-item {
      height: 100%;
      transition: background-color var(--main-transition);

      &:hover,
      &:focus {
        background-color: var(--accent);

        & > a {
          @include m-b-tablet-up {
            opacity: .7;
          }
          color: var(--white);

          svg {
            fill: var(--white);
            transform: rotate(180deg);
          }
        }
      }

      a {
        @extend .flex-centered-content;
        justify-content: flex-start;
        font-family: var(--alt-font-family);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.4;
        min-height: 24px;
        padding: 20px 10px;
        padding-top: 22px;
        flex-grow: 1;
        margin: 0 20px;
        color: var(--primary);

        transition: color var(--main-transition), opacity var(--main-transition);
      }

      &--accent a {
        color: var(--accent);
      }

      &.has-inner {
        display: flex;
        align-items: center;

        svg {
          fill: var(--gray-2);
          margin: 0 5px;
          transition: fill var(--main-transition), transform var(--main-transition);
        }

        &:hover,
        &:focus {
          & > .main-nav__inner-list-wrapper {
            display: block;
            animation: fadeIn var(--main-transition);
          }
        }
      }
    }

    &__inner-list-wrapper {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: var(--accent);

      .lw-container {
        padding: 0;
      }
    }

    &__inner-list {
      @extend .list-reset;
      @extend .flex-wrap;
      @extend .lw-container;
      align-items: center;
      justify-content: space-between;

      a {
        color: var(--white);
      }

      & .main-nav__inner-list-wrapper {
        display: none;
        background-color: var(--white);
        box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.14);

        a {
          text-align: left;
          color: var(--primary);
          @include text-truncate(1);
        }
      }
    }

    &__inner-list-item {
      flex-grow: 1;

      &:hover,
      &:focus {
        a {
          @include m-b-tablet-up {
            opacity: .7;
          }
        }

        svg {
          transform: rotate(180deg);
        }
      }
    }

    &__inner-list-item.has-inner {
      display: flex;
      align-items: center;

      svg {
        fill: var(--gray-2);
        margin: 0 5px;
        transition: fill var(--main-transition), transform var(--main-transition);
      }

      .main-nav__inner-list-wrapper .main-nav__inner-list {
        display: flex;
        flex-wrap: wrap;
        padding-top: 35px;
        justify-content: flex-start;

        li {
          flex-grow: initial;
          width: calc(100% / 3);
          margin-bottom: 35px;

          a {
            justify-content: flex-start;
            font-family: var(--alt-font-family);
            font-size: 16px;
            font-weight: 500;
            padding: 0 10px;
            color: #8C8C8C;

            @extend .hover-accent-color;
          }
        }
      }

      &:hover,
      &:focus {
        svg {
          fill: var(--white);
        }

        & > .main-nav__inner-list-wrapper {
          display: block;
          animation: fadeIn var(--main-transition);
        }
      }
    }
  }
}

.main-nav--mobile {
  @extend .flex-column;
  &.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    background-color: var(--accent);

    overflow-y: auto;

    .main-nav__closer {
      display: flex;
    }

    .main-scroll {
      &::-webkit-scrollbar {
        display: none;
          background-color: white;
          width: 12px;
      }

      &::-webkit-scrollbar-thumb {
        display: none;
          background-color: white;
      }
    }

    .main-nav__header,
    .main-nav__footer {
      display: flex;
    }

    .main-nav__footer {
      padding: 35px;
      margin-top: auto;

      @include m-b-mobile-lg-down {
        padding: 35px 20px;
        padding-bottom: 60px;
      }

      a {
        span {
          color: var(--white);
        }

        svg {
          fill: var(--white);
        }
      }
    }

    .main-nav__list {
      @extend .flex-column;
      padding: 35px;

      @include m-b-mobile-lg-down {
        padding: 35px 20px;
      }
    }

    .main-nav__list-item {
      margin-bottom: 30px;

      @include m-b-mobile-lg-down {
        margin-bottom: 20px;
      }

      a {
        display: flex;
        align-items: center;

        font-size: 18px;
        font-weight: 500;
        font-family: var(--alt-font-family);
        padding: 10px 0;
        color: var(--white);

        @extend .hover-opacity;

        svg {
          fill: var(--gray-2);
          transform: rotate(-90deg);
          transition: transform var(--main-transition);
        }

        @include m-b-mobile-lg-down {
          font-size: 16px;
        }
      }

      &--accent a {
        font-weight: 700;
      }
    }

    .main-nav__inner-list {
      display: none;

      &.active {
        display: block;
        animation: fadeIn var(--main-transition);
      }
    }


    .main-nav__inner-list-item {
      &--mobile-only {
        @include m-b-up(1280px) {
          display: none;
        }

        a {
          font-weight: 500;
          text-decoration: underline;
        }
      }
    }

    .has-inner.active > a svg {
      transform: rotate(0);
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
