.news-list {
  @extend .list-reset;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;

  &__item {
    height: 100%;
  }

  @include m-b-laptop-down {
    grid-template-columns: repeat(2, 1fr);
  }

  @include m-b-mobile-lg-down {
    grid-template-columns: 1fr;
  }
}
