.news-list {
  @extend .list-reset;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  &__item {
    height: 100%;

    @include m-b-laptop-down {
      &:last-child {
        display: none;
      }
    }
  }

  @include m-b-laptop-down {
    grid-template-columns: repeat(2, 1fr);
  }

  @include m-b-down(724px) {
    grid-template-columns: 1fr;
  }
}
