.news-card {
  &__container {
    display: grid;
    grid-template-columns: 300px auto;
    grid-gap: 24px;

    @extend .hover-opacity;

    &:hover,
    &:focus {
      .news-card__image-wrapper img {
        transform: scale(1.03);
      }
    }

    @include m-b-mobile-lg-down {
      grid-template-columns: 1fr;
      grid-gap: 16px;
    }
  }

  &__image-wrapper {
    overflow: hidden;
    img {
      display: block;
      height: auto;
      transform: scale(1.01);
      transition: transform var(--slow-transition);
      object-fit: contain;

      @include m-b-mobile-lg-down {
        width: 100%;
        height: auto;
        max-height: 400px;
      }
    }
  }

  &__content {
    @extend .flex-column;
    padding: 10px 0;
  }

  &__pre {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
    color: var(--gray-2);
  }

  &__title {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
    color: var(--primary);

    @include text-truncate(2);

    @include m-b-tablet-down {
      font-size: 16px;
    }
  }

  &__desc {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: var(--text);

    @include text-truncate(3);

    @include m-b-tablet-down {
      font-size: 16px;
    }

    @include m-b-mobile-lg-down {
      @include text-truncate(5);
    }
  }
}
