.section-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 32px;

  @include m-b-desktop-down {
    margin-bottom: 24px;
  }

  @include m-b-laptop-down {
    margin-bottom: 20px;
  }

  @include m-b-mobile-lg-down {
    margin-bottom: 18px;
  }

  a {
    font-family: var(--alt-font-family);
    font-size: 24px;
    font-weight: 700;
    color: var(--accent);

    @extend .hover-opacity;

    @include m-b-mobile-lg-down {
      font-size: 16px;
    }
  }
}
