.staff-preview-card {
  position: relative;
  overflow: hidden;

  @include m-b-down(500px) {
    display: flex;
  }

  .lw-image-hovered-wrapper {
    width: 100%;
  }

  img {
    display: block;
    height: 100%;
    width: 100%;

    @extend .hover-image-grayscale-with-zoom;

    @include m-b-down(500px) {
      object-fit: contain;
    }
  }

  &__content {
    @extend .flex-column;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 15px;
    bottom: 15px;
    padding: 15px 12px;
    width: calc(100% - 30px);
    min-height: 85px;
    background-color: var(--white);

    @include m-b-down(960px) {
      left: 10px;
      bottom: 10px;
      width: calc(100% - 20px);
    }

    @include m-b-down(500px) {
      position: static;
    }

    @include m-b-down(375px) {
      position: absolute;
    }
  }

  &__title {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 6px;

    color: var(--brown);

    @include m-b-down(960px) {
      font-size: 16px;
    }

    @include m-b-down(500px) {
      font-size: 14px;
    }
  }

  &__desc {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-align: center;

    color: var(--text);
  }
}
