.subscribe {
  padding: 40px;
  background-color: #d9d9d9;

  @include m-b-mobile-lg-down {
    padding: 30px 20px;
  }

  &__container {
    @extend .flex-wrap;
    max-width: 700px;
    align-items: center;
    margin: 0 auto;

    @include m-b-tablet-down {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__info {
    @extend .flex-column;
    gap: 10px;
    padding-right: 20px;

    @include m-b-tablet-down {
      margin-bottom: 30px;
    }
  }

  &__title {
    display: inline-block;
    font-family: var(--alt-font-family);
    font-size: 20px;
    font-weight: 700;

    @include m-b-mobile-lg-down {
      font-size: 18px;
    }
  }

  &__text {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;

    @include m-b-mobile-lg-down {
      font-size: 14px;
    }
  }

  form {
    display: flex;
    align-items: center;
    height: 65px;
    width: 100%;
    max-width: 200px;
    margin-left: auto;

    @include m-b-tablet-down {
      margin-left: 0;
    }

    @include m-b-mobile-lg-down {
      height: initial;
      flex-direction: column;
      align-items: flex-start
    }

    input[type="text"] {
      @extend .input-reset;
      font-size: 18px;
      font-weight: 500;
      padding: 20px;
      height: inherit;
      flex-grow: 1;

      &::placeholder {
        font-size: 18px;
        font-weight: 500;

        @include m-b-mobile-lg-down {
          font-size: 16px;
        }
      }

      @include m-b-mobile-lg-down {
        width: 100%;
        margin-bottom: 20px;
        padding: 15px 10px;
        font-size: 16px;
      }
    }
  }

  &__submit-btn {
    max-width: 100%;
    font-size: 16px;
    font-weight: 700;
    height: inherit;
    background-color: var(--accent);

    @include m-b-mobile-lg-down {
      font-size: 14px;
    }
  }
}
