.swiper {

  &-slide {
    display: flex;

    img {
      width: 100%;
    }
  }

  .swiper-pagination {
    position: relative;
    padding-top: 30px;
    bottom: 0;

    &-bullet {
      width: 4.5vw;
      height: 5px;
      border-radius: 0;

      &-active {
        background-color: var(--accent);
      }
    }

    @include m-b-mobile-lg-down {
      display: none;
    }
  }
}
