section.lw-section.lw-top-section.team
  .lw-container-thin
    ul.team__list
      li.team__list-item
        include ../../components/staff-card

      li.team__list-item
        include ../../components/staff-card

      li.team__list-item
        include ../../components/staff-card
