include ../../mixins/inner-page-top
include ../../mixins/staff-card

+inner-page-top({
  title: 'Команда',
  img: 'page-header-bg.jpg'
})

section.lw-section.team
  .lw-container-thin
    //ul.team__list
      li.team__list-item
        include ../../components/staff-card

      li.team__list-item
        include ../../components/staff-card

      li.team__list-item
        include ../../components/staff-card

    .team-tabs
      .team-tabs__item.active
        button(type="button").team-tabs__opener
          span.lw-section-title Юридический отдел
          //svg(width="40" height="40")
            use(xlink:href="./assets/sprite.svg#icon-lg-arrow")
        .team-tabs__content
          ul.team__list
            li.team__list-item
              +staff-card({
                type: 'short',
                linkText: 'Подробнее',
                cls: 'staff-card--short'
              })

            li.team__list-item
              +staff-card({
                type: 'short',
                linkText: 'Подробнее',
                cls: 'staff-card--short'
              })

            li.team__list-item
              +staff-card({
                type: 'short',
                linkText: 'Подробнее',
                cls: 'staff-card--short'
              })

            li.team__list-item
              +staff-card({
                type: 'short',
                linkText: 'Подробнее',
                cls: 'staff-card--short'
              })
      .team-tabs__item
        button(type="button").team-tabs__opener
          span.lw-section-title Бухгалтерский отдел
          //svg(width="40" height="40")
            use(xlink:href="./assets/sprite.svg#icon-lg-arrow")
        .team-tabs__content
          ul.team__list
            li.team__list-item
              +staff-card({
                type: 'short',
                linkText: 'Подробнее',
                cls: 'staff-card--short'
              })

            li.team__list-item
              +staff-card({
                type: 'short',
                linkText: 'Подробнее',
                cls: 'staff-card--short'
              })

            li.team__list-item
              +staff-card({
                type: 'short',
                linkText: 'Подробнее',
                cls: 'staff-card--short'
              })

            li.team__list-item
              +staff-card({
                type: 'short',
                linkText: 'Подробнее',
                cls: 'staff-card--short'
              })

