include ../../mixins/inner-page-top

+inner-page-top({
  title: 'Команда',
  img: 'page-header-bg.jpg'
})

section.lw-section.team
  .lw-container-thin
    ul.team__list
      li.team__list-item
        include ../../components/staff-card

      li.team__list-item
        include ../../components/staff-card

      li.team__list-item
        include ../../components/staff-card
