.clients {
  .swiper-wrapper {
    display: flex;
    align-items: center;
  }

  .swiper-slide {
    width: fit-content;
    height: fit-content;

    &:not(:last-child) {
      padding-right: 95px;

      @include m-b-tablet-down {
        padding-right: 50px;
      }

      @include m-b-mobile-lg-down {
        padding-right: 30px;
      }
    }

    img {
      object-fit: contain;
      filter: grayscale(1);
      transition: filter var(--slow-transition);

      &:hover,
      &:focus {
        filter: none;
      }

      @include m-b-tablet-down {
        max-height: 74px;
      }
    }
  }
}
