.services-main {
  margin-bottom: 40px;

  &__list {
    @extend .list-reset;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    @include m-b-down(890px) {
      grid-template-columns: 1fr;
    }
  }

  &__list-item {
    background-color: var(--light);

    a {
      display: grid;
      grid-template-columns: 2fr 3fr;
      grid-gap: 20px;
      align-items: center;
      height: 100%;

      @extend .hover-opacity;

      @include m-b-tablet-down {
        grid-gap: 5px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1/1;
      }

      span {
        font-family: var(--alt-font-family);
        font-size: 24px;
        font-weight: 700;
        padding: 15px;

        color: var(--accent);

        @include m-b-down(1140px) {
          font-size: 20px;
        }

        @include m-b-down(960px) {
          font-size: 18px;
        }

        @include m-b-down(890px) {
          font-size: 22px;
        }

        @include m-b-mobile-lg-down {
          font-size: 18px;
          padding: 10px;
        }

        @include m-b-down(440px) {
          padding: 5px;
          font-size: 16px;
        }

        @include m-b-down(370px) {
          font-size: 14px;
        }
      }
    }
  }
}
