div.subscribe-edit .red {
	color: var(--danger);
}
div.subscribe-edit .green {
	color: var(--success);
}
div.subscribe-edit .errorcolor {
	color: var(--danger);
}
div.subscribe-edit .successcolor {
	color: var(--success);
}

.subscribe-section {
	padding-top: 30px;
  .lw-section-text {
	  font-size: 18px;
	  font-weight: 500;
  }
}
