.lw {
  &-container {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-width);
  }

  &-container-fluid {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    max-width: var(--container-fluid-width);
  }

  &-container-thin {
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-thin-width);
  }

  &-section-offset {
    margin-bottom: 96px;
  }

  &-section {
    @extend .lw-section-offset;
  }

  &-section-title {
    font-size: 40px;
    font-weight: 700;
    font-family: var(--alt-font-family);

    margin: 0;
  }

  &-main-btn {
    @extend .flex-centered-content;
    @extend .btn-reset;
    width: 100%;
    max-width: fit-content;
    font-family: var(--alt-font-family);
    font-size: 18px;
    font-weight: 700;
    padding: 20px;
    color: var(--white);

    @extend .hover-opacity;
  }

  &-accent-color {
    color: var(--accent);
  }

  &-iconed-link {
    @extend .flex-wrap;
    align-items: center;
    margin-right: 50px;
    min-height: 40px;

    svg {
      margin-right: 10px;
      fill: var(--accent);
    }

    span {
      font-family: var(--alt-font-family);
      font-size: 14px;
      font-weight: 600;
      color: var(--text);
      transition: color var(--main-transition);
    }

    &:hover,
    &:focus {
      span {
        color: var(--accent);
      }
    }
  }
}
