.lw {
  &-container {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-width);

    @include m-b-mobile-lg-down {
      padding: 0 20px;
    }
  }

  &-container-fluid {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    max-width: var(--container-fluid-width);
  }

  &-container-thin {
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-thin-width);

    @include m-b-mobile-lg-down {
      padding: 0 20px;
    }
  }

  &-section-offset {
    margin-bottom: 96px;

    @include m-b-desktop-down {
      margin-bottom: 54px;
    }

    @include m-b-laptop-down {
      margin-bottom: 36px;
    }
  }

  &-section {
    @extend .lw-section-offset;
  }

  &-top-offset {
    padding-top: 180px;
  }

  &-section-title {
    font-size: 40px;
    font-weight: 700;
    font-family: var(--alt-font-family);
    margin: 0;
    padding-right: 20px;

    @include m-b-desktop-down {
      font-size: 32px;
    }

    @include m-b-laptop-down {
      font-size: 28px;
    }

    @include m-b-tablet-down {
      font-size: 24px;
    }

    @include m-b-mobile-lg-down {
      font-size: 22px;
    }
  }

  &-accent-title {
    display: inline-block;
    color: var(--accent);
  }

  &-subtitle {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    margin: 24px 0 12px;
    text-transform: uppercase;

    @include m-b-down(1280px) {
      font-size: 22px;
    }

    @include m-b-laptop-down {
      font-size: 20px;
    }

    @include m-b-tablet-down {
      font-size: 18px;
    }

    @include m-b-mobile-lg-down {
      font-size: 16px;
    }
  }

  &-main-btn {
    @extend .btn-reset;
    @extend .flex-centered-content;
    width: 100%;
    max-width: fit-content;
    height: fit-content;
    min-height: 40px;
    padding: 0 15px;
    font-family: var(--alt-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 1;

    color: var(--white);

    @extend .hover-opacity;

    &--accent {
      color: var(--white);
      background-color: var(--accent);
    }

    @include m-b-tablet-down {
      font-size: 16px;
    }

    @include m-b-desktop-down {
      min-height: 54px;
    }

    @include m-b-mobile-lg-down {
      min-height: 48px;
    }
  }

  &-accent-color {
    color: var(--accent);
  }

  &-iconed-link {
    @extend .flex-wrap;
    align-items: center;
    margin-right: 50px;
    min-height: 40px;

    svg {
      margin-right: 10px;
      fill: var(--accent);
    }

    span {
      font-family: var(--alt-font-family);
      font-size: 14px;
      font-weight: 600;
      color: var(--text);
      transition: color var(--main-transition);
    }

    @include m-b-tablet-up {
      &:hover,
      &:focus {
        span {
          color: var(--accent);
        }
      }
    }
  }
}
