/* flex*/
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

/*text*/
.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*scroll*/
.main-scroll {
  &::-webkit-scrollbar {
      background-color: var(--main-scrollbar-color);
      width: var(--main-scrollbar-width);
  }

  &::-webkit-scrollbar-thumb {
      background-color: var(--main-scrollbar-thumb-color);
  }
}

/*resets*/
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fieldset-reset {
  margin: 0;
  padding: 0;
  border: 0;
}
.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #ffffff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

/*common*/
.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

/*transitions*/
.hover-opacity {
  transition: opacity var(--main-transition);

  @include m-b-tablet-up {
    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}

.hover-accent-color {
  transition: all var(--main-transition);

  @include m-b-tablet-up {
    &:hover,
    &:focus {
      color: var(--accent);
    }
  }
}

.hover-image-scale {
  transform: scale(1.01);
  transition: transform var(--slow-transition);
  @include m-b-tablet-up {
    &:hover,
    &:focus {
      transform: scale(1.03);
    }
  }
}

.hover-image-grayscale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: filter var(--slow-transition);

  @include m-b-tablet-up {
    &:hover,
    &:focus {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }
  }
}

.hover-image-grayscale-with-zoom {
  transform: scale(1.01);
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: filter var(--slow-transition), transform var(--slow-transition);

  @include m-b-tablet-up {
    &:hover,
    &:focus {
      transform: scale(1.03);
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }
  }
}
