/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */

:root {
    // base
    --font-family: "Raleway", sans-serif;
    --alt-font-family: "Montserrat", sans-serif;
    --content-width: 1660px;
    --content-fluid-width: 1790px;
    --content-thin-width: 1220px;
    --container-offset: 30px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
    --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));
    --container-thin-width: calc(var(--content-thin-width) + (var(--container-offset) * 2));

    // colors
    --white: #ffffff;
    --black: #000000;

    --primary: #1f1f1f;
    --accent: #a70a12;
    --gray: #545454;
    --text: #7d7d7d;
    --skyblue: #24a4e3;
    --light: #f8f8f8;

    --main-bg: var(--white);

    //transitions
    --main-transition: .2s ease-in;
    --slow-transition: .7s ease-in;

    // scrollbar
    --main-scrollbar-width: 6px;
    --main-scrollbar-color: var(--white);
    --main-scrollbar-thumb-color: var(--accent);
  }
