.callback-form
  span.callback-form__title Если остались вопросы, напишите нам

  form(action="#" method="POST")
    label(for="callback-form-name") Имя<span>*</span>
    input(type="text" id="callback-form-name")

    label(for="callback-form-phone") Телефон<span>*</span>
    input(type="tel" id="callback-form-phone")

    label(for="callback-form-mail") E-mail
    input(type="text" id="callback-form-mail")

    label(for="callback-form-textarea") Комментарий
    textarea(id="callback-form-textarea")

    button(type="submit").lw-main-btn.callback-form__submit Отправить
    small Отправляя форму, вы соглашаетесь с <a href="#">условиями</a> обработки и использования персональных данных
