.footer-contacts
  .footer-contacts__field
    img(src="./assets/img/icon-phone.svg" alt="Номер телефона" width="26" height="26")
    span Номер телефона
    a(href="tel:84991163616") 8 (499) 116-36-16

  .footer-contacts__field
    img(src="./assets/img/icon-mail.svg" alt="Почта" width="26" height="20")
    span Почта
    a(href="mailto:call@usticom.ru") call@usticom.ru

  .footer-contacts__field
    img(src="./assets/img/icon-pin.svg" alt="Почта" width="20" height="30")
    span Расположение
    address 12-й проезд Марьиной рощи д.8 стр. 2, офис 17
