include ../mixins/info-card

-
  const mock = [
    {
      img:  'info-card-1.jpg',
      date: '31 декабря 2023',
      title: 'Как считать налог на имущество? ФНС дало разъяснения',
      previewText: 'Все граждане должны самостоятельно рассчитывать и оплачивать налог на имущество, переданное для общей деятельности. Если речь об “общем имуществе”',
      btnText: 'Читать далее'
    },

    {
      img:  'info-card-2.jpg',
      date: '31 декабря 2023',
      title: 'Бились с налоговой инспекцией 2 года и победили!',
      previewText: 'В октябре 2018 года у нашего клиента началась выездная налоговая проверка. По предварительному анализу выездной налоговой проверки сумма доначислений',
      btnText: 'Читать далее'
    },

    {
      img:  'info-card-3.jpg',
      date: '1 марта 2023',
      title: 'Семинар на тему «Налоговый мониторинг: как это работает? Семинар на тему «Налоговый мониторинг: как это работает? Семинар на тему «Налоговый мониторинг: как это работает?»',
      previewText: 'в Московской торгово-промышленной палате состоялся семинар на тему «Налоговый мониторинг с 2021 года: как это работает?», организованный Комитетом по',
      btnText: 'Читать далее'
    }
  ]

each data in mock
  +info-card(data)
