nav.main-nav
  .main-nav__header
    include ../components/nav-logo

    button(type="button" aria-label="Закрыть меню").main-nav__closer
      svg(width="24" height="24")
        use(xlink:href="./assets/sprite.svg#icon-burger")

  ul.main-nav__list
    li.main-nav__list-item.has-inner
      a(href="#") Услуги
        svg(width="24" height="24")
          use(xlink:href="./assets/sprite.svg#icon-small-down")

      .main-nav__inner-list-wrapper
        .lw-container
          ul.main-nav__inner-list
            li.main-nav__inner-list-item.has-inner
              a(href="#") Аудиторские
                svg(width="24" height="24")
                  use(xlink:href="./assets/sprite.svg#icon-small-down")
              .main-nav__inner-list-wrapper
                .lw-container
                  ul.main-nav__inner-list
                    li.main-nav__inner-list-item
                      a(href="#") Анализ и оценка рисков
                    li.main-nav__inner-list-item
                      a(href="#") Аудит
                    li.main-nav__inner-list-item
                      a(href="#") Обязательный аудит
                    li.main-nav__inner-list-item
                      a(href="#") Анализ и оценка рисков
                    li.main-nav__inner-list-item
                      a(href="#") Аудит
                    li.main-nav__inner-list-item
                      a(href="#") Обязательный аудит

                    li.main-nav__inner-list-item.main-nav__inner-list-item--mobile-only
                      a(href="#") Все услуги

            li.main-nav__inner-list-item.has-inner
              a(href="#") Налоговые
                svg(width="24" height="24")
                  use(xlink:href="./assets/sprite.svg#icon-small-down")
              .main-nav__inner-list-wrapper
                .lw-container
                  ul.main-nav__inner-list
                    li.main-nav__inner-list-item
                      a(href="#") Анализ и оценка рисков
                    li.main-nav__inner-list-item
                      a(href="#") Аудит
                    li.main-nav__inner-list-item
                      a(href="#") Обязательный аудит
                    li.main-nav__inner-list-item
                      a(href="#") Анализ и оценка рисков
                    li.main-nav__inner-list-item
                      a(href="#") Аудит
                    li.main-nav__inner-list-item
                      a(href="#") Обязательный аудит
            li.main-nav__inner-list-item
              a(href="#") Финансовые
            li.main-nav__inner-list-item
              a(href="#") Кадровые
            li.main-nav__inner-list-item
              a(href="#") Бухгалтерские
            li.main-nav__inner-list-item
              a(href="#") Юридические

            li.main-nav__inner-list-item.main-nav__inner-list-item--mobile-only
              a(href="#") Весь раздел

    li.main-nav__list-item.has-inner
      a(href="news.html") Новости
        svg(width="24" height="24")
          use(xlink:href="./assets/sprite.svg#icon-small-down")
      .main-nav__inner-list-wrapper
        .lw-container
          ul.main-nav__inner-list
            li.main-nav__inner-list-item.has-inner
              a(href="events.html") События

                svg(width="24" height="24")
                  use(xlink:href="./assets/sprite.svg#icon-small-down")
              .main-nav__inner-list-wrapper
                .lw-container
                  ul.main-nav__inner-list
                    li.main-nav__inner-list-item
                      a(href="#") Анализ и оценка рисков
                    li.main-nav__inner-list-item
                      a(href="#") Аудит
                    li.main-nav__inner-list-item
                      a(href="#") Обязательный аудит
                    li.main-nav__inner-list-item
                      a(href="#") Анализ и оценка рисков
                    li.main-nav__inner-list-item
                      a(href="#") Аудит
                    li.main-nav__inner-list-item
                      a(href="#") Обязательный аудит
            li.main-nav__inner-list-item
              a(href="#") Мероприятия
            li.main-nav__inner-list-item
              a(href="#") Публикации

    li.main-nav__list-item
      a(href="company.html") О компании

    li.main-nav__list-item
      a(href="#") Контакты

    li.main-nav__list-item.main-nav__list-item--accent
      a(href="#") Партнерская программа

  .main-nav__footer
    include ../components/company-phone
    include ../components/company-mail
