.news-card
  a(href="#" aria-label="Что принести с собой на новую работу? Разбираемся в документах").news-card__container

    .news-card__image-wrapper
      img(src="./assets/img/news-card-img.jpg" alt="Что принести с собой на новую работу? Разбираемся в документах" width="220" height="170")

    .news-card__content
      span.news-card__pre 28.06.2021
      span(title="Что принести с собой на новую работу? Разбираемся в документах").news-card__title Что принести с собой на новую работу?</br>Разбираемся в документах
      span.news-card__desc Каждый человек при устройстве на новую работу хоть раз задавался вопросом “Какие документы необходимо предоставлять, а какие необязательно?”
