.social
  ul.social__list
    li.social__list-item
      a(href="#" rel="nofollow noreferrer noopener")
        svg(width="36" height="36")
          use(xlink:href="./assets/sprite.svg#icon-tg")
    li.social__list-item
      a(href="#" rel="nofollow noreferrer noopener")
        svg(width="36" height="36")
          use(xlink:href="./assets/sprite.svg#icon-fb")
    li.social__list-item
      a(href="#" rel="nofollow noreferrer noopener")
        svg(width="52" height="36")
          use(xlink:href="./assets/sprite.svg#icon-youtube")
