.subscribe
  .subscribe__container
    .subscribe__info
      span.subscribe__title Подпишитесь на наши новости
      span.subscribe__text Получайте уведомления о новостях первыми

    form(action="#" method="POST")
      input(type="submit" value="Подписаться").lw-main-btn.subscribe__submit-btn
