extends layouts/main-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  //.index
    include ./sections/index-page/intro

block modals
  //include ./modals/...
