<div class="modal staff-card-modal" id="staff-card">
  <div class="modal__overlay">
    <div class="modal__content">
      <button class="modal-closer">
        <svg width="24" height="24">
          <use xlink:href="./assets/sprite.svg#icon-close"></use>
        </svg>
      </button>

      <div class="modal__content-body">
        +staff-card({
          type: 'full',
          linkText: 'Связаться со специалистом',
        })
      </div>
    </div>
  </div>
</div>
