.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 199;

  display: none;

  &.active {
    display: block;
  }

  &-closer {
    @extend .flex-centered-content;
    @extend .btn-reset;

    position: absolute;
    top: 15px;
    right: 15px;

    width: 40px;
    height: 40px;

    svg {
      fill: var(--primary);
    }
  }

  &__overlay {
    @extend .flex-centered-content;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
  }

  &__content {
    position: relative;
    @extend .flex-column;
    width: 100%;
    max-width: 450px;

    height: fit-content;
    min-height: 300px;
    max-height: 85vh;
    padding: 25px;
    overflow: hidden;
    overflow-y: auto;

    background-color: var(--white);
    background-image: url('../assets/img/offer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__content-body {
    @extend .flex-column;
    align-items: center;
  }

  &__content-header {
    margin-bottom: 30px;

    span {
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      color: var(--white);
    }
  }
}
