.staff-card-modal {
  .modal__content {
    padding: 100px;
    width: 90vw;
    max-width: 1240px;

    @include m-b-down(1240px) {
      padding: 40px;
    }

    @include m-b-down(960px) {
      padding: 40px 20px;
    }

    @include m-b-tablet-down {
      max-width: 400px;
      padding: 0;
      padding-bottom: 30px;
    }

    @include m-b-tablet-up {
      &:hover img,
      &:focus img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
        transform: scale(1.03);
      }
    }
  }
}
