mixin info-card(data)

  a(href="#").info-card
    .info-card__header
      img(src=`./assets/img/${data.img}` alt= data.title title = data.title width="540" height="360")
      .info-card__header-date
        span!= data.date
    .info-card__body
      span(title= data.title).info-card__body-title!= data.title
      p.info-card__body-text!= data.previewText
    .info-card__footer
      span!= data.btnText
