mixin main-slider(data)

  .swiper.main-slider(
    class= data.cls ? data.cls : null
    data-autoplay= !!data.isAutoplayEnabled ? 'true' : null
  )
    .swiper-wrapper
      each slide in data.slides
        .swiper-slide
          img(src=`./assets/img/${slide.img}` alt="Описание" width= slide.imgW height= slide.imgH)

    if data.isPaginationEnabled
      .swiper-pagination

    if data.isNavigationEnabled
      .swiper-button-next.main-slider-button-next
      .swiper-button-prev.main-slider-button-prev

