mixin staff-preview-card(data)
  a(href="team.html").staff-preview-card
    .lw-image-hovered-wrapper
      img(src=`./assets/img/${data.img}` alt= data.name width="260" height="350")

    .staff-preview-card__content
      span.staff-preview-card__title!= data.name
      span.staff-preview-card__desc!= data.text
