mixin staff-card(data)
  .staff-card(class= data.cls ? data.cls : null)
    img(src="./assets/img/staff-img-colored.png" alt="Литвиненко Вероника" width="250" height="285")

    .staff-card__content
      span.staff-card__title Литвиненко Вероника
      span.staff-card__desc Ведущий юрист

      if data.type == 'full'
        span.staff-card__list-title Специализация
        ul.staff-card__list
          li.staff-card__list-item комплексное сопровождение судебных споров, включая споры в сфере банкротства физических и юридических лиц;
          li.staff-card__list-item составление договоров;
          li.staff-card__list-item анализ правовых рисков в юридических документах, подготовленных в рамках российского и международного права

      if data.type == 'short'
        button(type="button" data-modal-anchor="staff-card").lw-main-btn.lw-main-btn--accent.staff-card__btn!= data.linkText
      if data.type == 'full'
        a(href="tel:+70000000").lw-main-btn.lw-main-btn--accent.staff-card__btn!= data.linkText


