section.lw-section.features
  .lw-container
    +section-header({
      tag: 'h2',
      title: 'Преимущества',
    })

  .features__container
    .lw-container
      include ../../components/features
