section.lw-section.features
  .lw-container
    +section-header({
      tag: 'h2',
      title: 'Преимущества',
    })

  .features__container
    .lw-container
      ul.features__list
        li.features__list-item
          .features__list-item-header
            .features__list-item-icon
              img(src="./assets/img/icon-pc.png" alt="Принцип «одного окна»" width="40" height="36")

          .features__list-item-content
            span.features__list-item-title Принцип «одного окна»
            .features__list-item-text Обращаясь к нам по интересующему вопросу, вы получаете полный пакет всех необходимых услуг

        li.features__list-item
          .features__list-item-header
            .features__list-item-icon
              img(src="./assets/img/icon-people.png" alt="Команда профессионалов" width="46" height="36")

          .features__list-item-content
            span.features__list-item-title Команда профессионалов
            .features__list-item-text Наши специалисты успешно решают сложные задачи в короткие сроки и постоянно повышают свою квалификацию

        li.features__list-item
          .features__list-item-header
            .features__list-item-icon
              img(src="./assets/img/icon-girl.png" alt="Опыт" width="51" height="47")

          .features__list-item-content
            span.features__list-item-title Опыт
            .features__list-item-text Мы помогаем компаниям развивать бизнес, предоставляя комплекс услуг на всех этапах роста и развития уже более 9 лет

        li.features__list-item
          .features__list-item-header
            .features__list-item-icon
              img(src="./assets/img/icon-doc.png" alt="Гарантии" width="33" height="42")

          .features__list-item-content
            span.features__list-item-title Гарантии
            .features__list-item-text Наша профессиональная ответственность застрахована полисом РЕСО на сумму 100.000.000 рублей

        li.features__list-item
          .features__list-item-header
            .features__list-item-icon
              img(src="./assets/img/icon-stars.png" alt="Репутация" width="56" height="38")

          .features__list-item-content
            span.features__list-item-title Репутация
            .features__list-item-text Мы лицензированы и сертифицированы. В 2019 году прошли проверку качества работы аудиторских организаций
