section.lw-section.hero
  .lw-container.hero__container
    span.hero__intro Предисловие
    h1.hero__title Здесь будет заголовок
    p.hero__text Подзаголовок, описание и любая необходимая информация
    button(type="button").lw-main-btn Заказать звонок
