include ../../mixins/main-slider

section.lw-section.licenses
  .lw-container
    +section-header({
      tag: 'h2',
      title: 'Сертификаты и гарантии',
      linkText: 'Все',
      linkUrl: '#'
    })

    +main-slider({
      isPaginationEnabled:  true,
      isNavigationEnabled:  false,
      slides: licensesSlider,

      cls: 'base-slider'
    })


