include ../../mixins/main-slider

section.lw-section.licenses
  .lw-container
    +section-header({
      tag: 'h2',
      title: 'Сертификаты и гарантии',
      linkText: 'Все',
      linkUrl: '#'
    })

    +main-slider({
      isPaginationEnabled:  true,
      isNavigationEnabled:  false,
      slidesPerViewDesktop: 4,
      slidesPerViewLaptop:  3,
      slidesPerViewTablet:  2,
      slidesPerViewMobile:  'auto',
      slidesPerViewAuto:    false,

      slides: licensesSlider,
      cls: 'licenses-slider'
    })


