include ../content/index-page

include ../sections/index-page/hero
include ../sections/index-page/news
include ../sections/index-page/subscription
include ../sections/index-page/progress
include ../sections/index-page/features
include ../sections/index-page/clients
include ../sections/index-page/licenses
include ../sections/index-page/events
include ../sections/common/callback
