include ../../mixins/section-header
include ../../mixins/inner-page-top
include ../../mixins/content-menu
include ../../mixins/staff-preview-card
include ../../mixins/icons-grid
include ../../mixins/feature-card-slider

+inner-page-top({
  title: 'О компании',
  img: 'page-header-bg.jpg'
})

.lw-container-thin.info-block
  .info-block__sidebar
    span.info-block__sidebar-title ПОДРОбнее
    +content-menu({
      menu: [],

      links: [
        {
          name: 'ДОКУМЕНТЫ И ГАРАНТИИ',
          url: '#'
        },
        {
          name: 'ОТЗЫВЫ И КЛИЕНты',
          url: '#'
        }
      ]
    })

  .info-block__content
    section.content-section
      +section-header({
        tag: 'span',
        title: 'О компании',
        titleClass: 'lw-accent-title js-content-menu-item',
      })

      span.subtitle КОМПАНИЯ ЮСТИКОМ. КОМПАНИЯ С ОПЫТОМ И РЕПУТАцией

      p  ЮСТИКОМ — это компания, которая делает жизнь легче, проще и спокойнее. Да, мы знаем, что так говорят о себе многие компании, — но давайте мы попробуем очень коротко, буквально в нескольких словах объяснить, что мы имеем в виду.
      p  Ведение бизнеса в России (а впрочем и не только) — сложное дело, отнимающее почти всё время, которое у вас есть. И почти все силы. Вы занимаетесь этим делом, — то есть, ведете свой бизнес — потому, во-первых, что занятие это благодарное: правильно выстроенный, эффективный бизнес окупается сторицей — и совсем не только в материальном смысле. А во-вторых потому, что вам это просто нравится.
      p  Мы вас отлично понимаем, — потому что у нас тоже свой бизнес, и он тоже требует всего нашего времени и всех наших сил. И он нам нравится, — точно так же, как вам нравится ваш.

      span.subtitle КТО МЫ?

      p ЮСТИКОМ – это команда квалифицированных бухгалтеров, аудиторов и юристов, готовых уже сегодня — если вы захотите — начать работать на вас. Уже с 2003 года мы помогаем малому и среднему бизнесу решать вопросы, неизбежно возникающие в процессе роста и развития компании, находить решения нестандартных проблем. Что до проблем стандартных, — мы работаем для того, чтобы вы могли забыть о ежедневной рутине.

      span.subtitle ЧТО МЫ ДЕЛАЕМ?

      p ЮСТИКОМ — это аудит (обязательный, инициативный и экспресс-аудит), бухгалтерские услуги в диапазоне от консультаций до ведения текущей деятельности, юридическое сопровождение и даже кадровый учет.
      p Мы знаем, что такое конфиденциальность и никогда не разглашаем информацию.
      p Мы знаем, что такое компетентность: за плечами наших юристов — многолетний опыт, огромное количество выигранных дел и споров.
      p За долгие годы работы на рынке мы сталкивались как с типовыми, так и со сложными задачами, разработали бесчисленное множество индивидуальных методов и схем позволяющих оптимизировать расходы законно.
      p Разумеется, наша компания включена в реестр аудиторов и аудиторских организаций. Кроме того, мы входим в Саморегулируемую организацию аудиторов Ассоциации «Содружество» (свидетельство № 16590).

      span.subtitle ПОЧЕМУ МЫ?

      p Слова хороши тогда, когда за ними стоит нечто более ощутимое. За нашими словами стоит полная материальная ответственность, которую мы несем перед клиентом за результаты своей деятельности. Даже если мы совершим ошибку, в этом случае вы получите полное возмещение ущерба: профессиональная ответственность ЮСТИКОМ застрахована.
      p Мы начали с того, что делаем жизнь легче, проще и спокойнее. И теперь, когда вы понимаете, что имелось в виду, мы хотим сказать еще одну важную вещь, последнюю.
      p ЮСТИКОМ — это компания, которая делает жизнь интереснее. Потому, что теперь, когда на вас больше не давит ежедневная рутина, когда уже решены или решаются проблемы, о которых вы помнили весь последний год, каждый день и даже в отпуске (а когда вы последний раз были в отпуске?), — теперь вы можете подумать о развитии. О том, куда двигаться дальше. Заняться всем тем, что приходилось откладывать. Ведь развитие, новые идеи, новые проекты — это и есть будущее, это и есть то, ради чего вы вообще занимаетесь бизнесом. А будущее непредсказуемо, так что, отправляясь туда, вы должны быть во всеоружии, — и одновременно, налегке. Но как это вообще возможно?
      p Что вам сказать… Это, конечно, совсем непростая задача. Но мы, честно говоря, больше всего любим именно такие.

      span.subtitle НАША ОСНОВНАЯ ЗАДАЧА – ОТСТАИВАТЬ ИНТЕРЕСЫ И ПРАВА КЛИЕНТА!

      p В нашей профессиональной деятельности мы придерживаемся четырех основных принципов: компетентность, конфиденциальность, клиентоориентированность и ответственность.
      p Грамотные, высококомпетентные профессионалы – залог успеха многих компаний. Мы, как собственники компании, это прекрасно понимаем, поэтому основательно подходим к подбору своих кадров. Наши сотрудники имеют многолетний опыт и являются профессионалами в своей области.
      p В отличие от большинства консалтинговых компаний, специализирующихся на конкретных услугах, мы умеем решать вопросы комплексно, с системным подходом и предлагаем клиентам работать по принципу «одного окна». Обращаясь к нам по интересующему вопросу, вы можете получить сразу пакет юридических, аудиторских, налоговых, кадровых и бухгалтерских услуг.
      p Мы понимаем всю ответственность при выполнении договорных работ, поэтому всегда стараемся быть максимально полезными для существующих и потенциальных клиентов. Прекрасно осознаем, что одинаковых компаний не бывает, все имеют свои особенности, и поэтому наш подход к каждому клиенту индивидуален.

      span.subtitle ПОЧЕМУ ИМЕННО «ЮСТИКОМ»?
      +feature-card-slider({
        cls: 'feature-card-slider',
        slides: [
          {
            title: 'ВЫСОКИЙ УРОВЕНЬ КОМПЕТенЦИИ',
            description: [
              'Стаж сотрудников компании - минимум 3 года',
              'Процент успешно разрешенных дел - более 90%',
              'Сотрудничаем со СМИ в качестве эксперта мнений'
            ]
          },

          {
            title: 'СТРАХОВКА ПРОФ. ОТВЕТСТВЕННОСТИ',
            description: [
              'Штат сотрудников состоит только из высококвалифицированных аудиторов, бухгалтеров, юристов и специалистов по управлению персоналом',
              'Ежегодно работники проходят курсы повышения квалификации. Участвуем в семинарах и конференциях',
            ]
          },

          {
            title: 'ГИБКОСТЬ В&nbsp;ПОИСКЕ РЕШЕНИЙ',
            description: [
              'Находим пути взаимодействия не только здесь и сейчас, но и с перспективой на будушее',
              'Предоставляем несколько вариантов решения задачи в разных ценовых категориях',
              'Используем собственные уникальные методики'
            ]
          },

          {
            title: 'НАДЕЖНОСТЬ И&nbsp;БЕЗОПАСНОСТЬ',
            description: [
              'Обязательно подписываем с каждым клиентом документ о неразглашении информации',
              'Используем передовые IТ-разработки в области зашиты данных',
            ]
          },
        ]
      })

    section.lw-section.news-section
      +section-header({
        tag: 'span',
        title: 'Наши успехи',
        titleClass: 'lw-accent-title js-content-menu-item',
        linkText: 'Все',
        linkUrl: '#'
      })

      ul.news-section__list
        li
          include ../../components/news-card
        li
          include ../../components/news-card
        li
          include ../../components/news-card
        li
          include ../../components/news-card
        li
          include ../../components/news-card
        li
          include ../../components/news-card

    section.lw-section.news-section
      +section-header({
        tag: 'span',
        title: 'Отрасли',
        titleClass: 'lw-accent-title js-content-menu-item',
      })

      p Мы обслуживаем самые разные направления бизнеса

      +icons-grid({
        items: [
          {
            icon: 'icon1.png',
            title: 'Строительство'
          },
          {
            icon: 'icon2.png',
            title: 'Торговля'
          },
          {
            icon: 'icon3.png',
            title: 'Медицина'
          },
          {
            icon: 'icon4.png',
            title: 'Фармацевтика'
          },
          {
            icon: 'icon5.png',
            title: 'Гостиницы и&nbsp;рестораны'
          },

          {
            icon: 'icon6.png',
            title: 'Транспорт'
          },
          {
            icon: 'icon7.png',
            title: 'Реклама и&nbsp;медиа'
          },
          {
            icon: 'icon8.png',
            title: 'Недвижимость'
          },
          {
            icon: 'icon9.png',
            title: 'Производство'
          },
          {
            icon: 'icon10.png',
            title: 'Логистика'
          },

          {
            icon: 'icon11.png',
            title: 'Транспорт'
          },
          {
            icon: 'icon12.png',
            title: 'Цифровые технологии'
          },
          {
            icon: 'icon13.png',
            title: 'Благотворительные фонды'
          },
          {
            icon: 'icon14.png',
            title: 'Инвестиции'
          },
          {
            icon: 'icon15.png',
            title: 'Энергетика'
          },

        ]
      })

    section.lw-section
      +section-header({
        tag: 'span',
        title: 'Команда',
        titleClass: 'lw-accent-title js-content-menu-item',
        linkText: 'Все',
        linkUrl: 'team.html'
      })

      .team-preview-grid
        +staff-preview-card({
          img: 'staff-preview-img.jpg',
          name: 'Шуршалова Алена',
          text: 'эксперт бухгалтерского и налогового учета'
        })

        +staff-preview-card({
          img: 'staff-preview-img.jpg',
          name: 'Демидова Анастасия',
          text: 'эксперт бухгалтерского и налогового учета'
        })

        +staff-preview-card({
          img: 'staff-preview-img.jpg',
          name: 'Лузина Анна',
          text: 'налоговый консультант'
        })

        +staff-preview-card({
          img: 'staff-preview-img.jpg',
          name: 'Литвиненко Вероника',
          text: 'ведущий юрист'
        })

        +staff-preview-card({
          img: 'staff-preview-img.jpg',
          name: 'Семёнова Екатерина',
          text: 'специалист трудового права'
        })

        +staff-preview-card({
          img: 'staff-preview-img.jpg',
          name: 'Регина Коночкина',
          text: 'адвокат'
        })

      button(type="button").lw-main-btn.team-preview-grid__btn.hidden Еще
