header.main-header
  .lw-container.main-header__container
    .main-header__side
      include ../components/main-logo

    .main-header__content
      .main-header__section.main-header__section--top
        .main-header__info
          include ../components/company-address
          include ../components/company-phone
          include ../components/company-mail
        include ../components/social
      .main-header__section.main-header__section--bottom
        include ../components/main-nav
        button(type="button" data-modal-anchor="request-modal").main-header__request.lw-main-btn Оставить заявку
        button(type="button" aria-label="Открыть меню").main-nav__opener
          svg(width="24" height="24")
            use(xlink:href="./assets/sprite.svg#icon-burger")
