header.main-header
  .main-header__section.main-header__section--top
    .lw-container.main-header__container
      include ../components/company-phone
      include ../components/company-mail
      include ../components/social
      button(type="button").lw-main-btn Оставить заявку
  .main-header__section.main-header__section--bottom
    .lw-container.main-header__container
      include ../components/main-logo
      include ../components/main-nav
      button(type="button" aria-label="Открыть меню").main-nav__opener
        svg(width="24" height="24")
          use(xlink:href="./assets/sprite.svg#icon-burger")


