include ../../mixins/inner-page-top

+inner-page-top({
  title: 'Услуги',
  img: 'page-header-bg.jpg'
})

<section class="services-main">
  <div class="lw-container-thin">
    <ul class="services-main__list">
      <li class="services-main__list-item">
        <a href="#">
          <img src="./assets/img/services-preview/img-1.jpg" alt="" width="200" height="200">
          <span>Заголовок</span>
        </a>
      </li>

      <li class="services-main__list-item">
        <a href="#">
          <img src="./assets/img/services-preview/img-1.jpg" alt="" width="200" height="200">
          <span>Аудитоские услуги</span>
        </a>
      </li>

      <li class="services-main__list-item">
        <a href="#">
          <img src="./assets/img/services-preview/img-1.jpg" alt="" width="200" height="200">
          <span>Заголовок</span>
        </a>
      </li>

      <li class="services-main__list-item">
        <a href="#">
          <img src="./assets/img/services-preview/img-1.jpg" alt="" width="200" height="200">
          <span>Заголовок</span>
        </a>
      </li>
    </ul>
  </div>
</section>
